<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>250598497135-t4vi9rkj176lpd87ceh9mib7oo5emfpa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.250598497135-t4vi9rkj176lpd87ceh9mib7oo5emfpa</string>
	<key>API_KEY</key>
	<string>AIzaSyADnNsiDmZac33Vk0Zt9YVff95FevIUp7k</string>
	<key>GCM_SENDER_ID</key>
	<string>250598497135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demo</string>
	<key>PROJECT_ID</key>
	<string>fir-dbf45</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-dbf45.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:250598497135:ios:3062a66f46943763f4269a</string>
</dict>
</plist>